/* Descendant Selector*/
div p{
    color:rgb(255,0,0);
}

/*Child Selector*/
div >p{
    color:pink;
}

/*Adjacent sibling selector*/
div + p{
    color:rosybrown;
}

/*General sibling selector*/
div ~ p{
    color: blueviolet;
}